{
  "plugins": [
    "./node_modules/prettier-plugin-multiline-arrays"
  ],
  "singleQuote": true,
  "trailingComma": "all",
  "bracketSpacing": true,
  "printWidth": 120,
  "multilineArraysWrapThreshold": 1
}
